body {
    margin: 0%;
    background-color: #FAEFEC;
}

header{
    text-align: center;
}

header img{
    width: 24%;
    display: block; 
    margin: 0 auto;
    margin-top: 20px;
}

.navbar {
    display: flex;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    width: 100%;
    margin-top: 21px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: #383f27; 
    font-size: 0.7rem;
    font-family: "dm-sans", sans-serif;
    padding: 12px 6px;
    white-space: nowrap;
}

.inicio {
    position: relative;
    text-align: left;
    margin-top: 6%;
}

.fondo {
    width: 100%;
    height: auto;
}

.contenido {
    position: absolute;
    top: 35%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: black;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 188px;
    margin-bottom: 1.5%;
    max-width: 56%;
}

p {
    font-size: 0.68rem;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 225px;
    max-width: 44%;
}

button {
    position: absolute;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #1D9965;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 10px;
    top: 347px;
    width: 120px;

}

