body {
    margin: 0%;
    background-color: #FAEFEC;
}

header{
    text-align: center;
}

.menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #FEF7F1;
  border: 1px solid #ad8a6e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.menu-icon {
  width: 90px; 
  height: auto;
  margin-bottom: 29%; 
}

header img{
    width: 24%;
    display: block; 
    margin: 0 auto;
    margin-top: 20px;
}

.navbar {
    display: flex;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    width: 100%;
    margin-top: 21px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: #383f27; 
    font-size: 0.65rem;
    font-family: "dm-sans", sans-serif;
    padding: 12px 6px;
    white-space: nowrap;
}

.recetas-container {
  padding: 20px;
}

.recetas-header h1 {
  color: #383f27;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "playfair-display", serif;
}

.recetas-header p {
  color: #000000;
  font-size: 12px;
  margin-bottom: 20px;
  max-width: 100%;
  font-family: "inter-variable", sans-serif;
}

.search-container {
  display: flex;
  margin-bottom: 16px;
}

.search-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #3a7353;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}


.filters select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-indent: 0.01px;
}

 .breadcrumb-bar {
  display: none;
}

.recetas-populares h2 {
  color: #383f27;
  font-size: 21px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  padding-right: 15px;
  font-family: "playfair-display", serif;
}

.recetas-populares h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px; 
  width: 261px; 
  height: 2px; 
  background-color: #dac8b9;
  left: 97%;
}


.recetas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.receta-card {
  background-color: #fef6ea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receta-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.receta-card h3 {
  margin: 15px 0 10px;
  padding: 0 15px;
  color: black;
  font-size: 18px;
  font-family: "playfair-display", serif;
}

.tags-container {
  padding: 0px;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dac8b9; 
  width: 86%; 
  margin-left: 7%;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.tag.tradicional {
  background-color: #f8e0c7;
  color: #000000;
  font-family: "inter-variable", sans-serif;
}

.tag.pais {
  background-color: #f2ede3;
  color: #000000;
  font-family: "inter-variable", sans-serif;
}

.ver-receta {
  display: block;
  width: 80%;
  margin: 0 auto 15px;
  padding: 10px;
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

.solo-escritorio {
  display: none;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination span {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #555;
}

.pagination span.active {
  background-color: #8B4513;
  color: white;
  border-color: #8B4513;
}

.mostrar-mas {
  padding: 12px 24px;
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.footer-line {
  content: "";
  width: 475px; 
  height: 1.5px; 
  background-color: #dac8b9; 
  margin: 20px auto;
  margin-top: 50px;
}

.footer-text {
  text-align: center; 
  margin-top: 35px; 
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #b19985; 
  width: 100%;
  max-width: 100%;
}


@media screen and (min-width: 768px) {
 header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  header > img {
    width: 120px;
    position: absolute;
    left: 20px;
    z-index: 100;

  }

  .menu-icon-container {
    display: flex;
    margin-left: 1800px;
    margin-top: 39.5px; 
    border: none;
    box-shadow: none;
    height: 48px;
    background-color: none;
  }


  .navbar {
    width: 100%;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: 58px;
    position: relative;
    padding-right: 60px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 1050px;
    gap: 25px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: #383f27;
    font-size: 1rem;
    padding: 15px 0;
    white-space: nowrap;
  }

  .recetas-header h1 {
    font-size: 42px; 
    margin-bottom: 15px;
  }

  .recetas-header p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  
  .filters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .filters select {
    flex: 1; 
    padding: 10px;
  }

  
  .breadcrumb-bar {
    display: flex; 
    background-color: #f5ece0; 
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 14px;
    color: #4a4a4a;
    font-family: "inter-variable", sans-serif;
    align-items: center;
    gap: 5px;
  }

  .clear-filters {
    margin-left: auto; 
    cursor: pointer;
    text-decoration: underline;
  }

  .solo-escritorio {
    display: block; 
  }

  .recetas-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
  }

  .recetas-populares h2 {
    width: 100%; 
    display: flex;
    align-items: center;
    font-size: 32px; 
  }

  .recetas-populares h2::after {
    content: "";
    position: static; 
    flex-grow: 1;  
    height: 2px;
    background-color: #dac8b9;
    margin-left: 20px; 
  }

  .receta-card h3 {
  padding: 0 15px;
  color: black;
  font-size: 28px;
  font-family: "playfair-display", serif;
  margin-left: 25px;
}
  
  .receta-card img {
    height: 430px;
  }

  .pagination-container{
    margin-left: 30px;
    margin-top: 60px;
  }

   .footer-line {
   content: "";
   width: 1900px; 
   height: 1.5px; 
   background-color: #dac8b9; 
   margin: 20px auto;
   margin-top: 80px;
}

 .footer-text {
   text-align: center; 
   margin-top: 35px; 
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #b19985; 
   width: 100%;
   max-width: 100%;
}
}