body {
    margin: 0%;
    background-color: #FAEFEC;
}

header{
    text-align: center;
}

.menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #FEF7F1;
  border: 1px solid #ad8a6e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.menu-icon {
  width: 90px; 
  height: auto;
  margin-bottom: 29%; 
}

header img{
    width: 24%;
    display: block; 
    margin: 0 auto;
    margin-top: 20px;
}

.navbar {
    display: flex;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    width: 100%;
    margin-top: 21px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: #383f27; 
    font-size: 0.65rem;
    font-family: "dm-sans", sans-serif;
    padding: 12px 6px;
    white-space: nowrap;
}

.cultura-gastronomica {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.cultura-header {
  text-align: center;
  margin-bottom: 30px;
}

.cultura-header h1 {
  color: #383f27;
  font-size: 27px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "playfair-display", serif;
}

.cultura-header h1::before,
.cultura-header h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 14%;
  height: 1px;
  background-color: #dac8b9;
}

.cultura-header h1::before {
  left: 1%;
}

.cultura-header h1::after {
  right: 1%;
}

.cultura-header p {
  font-size: 12px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "inter-variable", sans-serif;
}

.cultura-header img {
  width: 100%;
  max-width: 600px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.ingredientes-section {
  margin-bottom: 40px;
  text-align: center;
}

.ingredientes-section h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "playfair-display", serif;
}

.ingredientes-section h2::before,
.ingredientes-section h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 14%;
  height: 1px;
  background-color: #dac8b9;
}

.ingredientes-section h2::before {
  left: -16%;
}

.ingredientes-section h2::after {
  right: -16%;
}

.ingredientes-section p {
  font-size: 12px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "inter-variable", sans-serif;
}


.ingredientes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.ingrediente-card {
  background-color: #fef6ea;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingrediente-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.ingrediente-card h3 {
  font-size: 18px;
  color: #383f27;
  margin-bottom: 5px;
  font-family: "playfair-display", serif;
}

.ingrediente-card p {
  font-size: 13px;
  color: #000000;
  font-family: "inter-variable", sans-serif;
}


.ingredientes-section button {
  background-color: #1D9965;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}


.tecnicas-section {
  text-align: center;
}

.tecnicas-section h2 {
  color: #383f27;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "playfair-display", serif;
}

.tecnicas-section h2::before,
.tecnicas-section h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #dac8b9;
}

.tecnicas-section h2::before {
  left: -46%;
}

.tecnicas-section h2::after {
  right: -46%;
}

.tecnicas-section p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}


.tecnicas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.tecnica-card {
  background-color: #fef6ea;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tecnica-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tecnica-card h3 {
  font-size: 18px;
  color: #383f27;
  font-family: "playfair-display", serif;
}

.tecnicas-section button {
  background-color: #1D9965;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}



.regiones-tecnicas {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.regiones-tecnicas-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.regiones-cult-section {
  margin-bottom: 40px;
}

.regiones-cult-title {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "playfair-display", serif;
}

.regiones-cult-title::after {
  content: "";
  position: absolute;
  right: -25%;
  top: 50%;
  width: 100%;
  height: 1px;
  left: 105%;
  background-color: #dac8b9;
}

.regiones-cult-description {
  font-size: 13px;
  color: #000000;
  margin-bottom: 20px;
  text-align: left;
  font-family: "inter-variable", sans-serif;
}

.regiones-cult-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.regiones-cult-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.regiones-cult-card-img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.regiones-cult-card-info {
  padding: 10px;
  background-color: #fef6ea;
}

.regiones-cult-card-title {
  font-size: 18px;
  color: #383f27;
  margin: 0;
  font-family: "playfair-display", serif;
}

.tecnicas-ancest-section {
  margin-bottom: 40px;
}

.tecnicas-ancest-title {
  color: #383f27;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "playfair-display", serif;
}


.tecnicas-ancest-title::after {
  content: "";
  position: absolute;
  right: -25%;
  top: 50%;
  width: 75%;
  height: 1px;
  left: 105%;
  background-color: #dac8b9;
}

.tecnicas-ancest-description {
  font-size: 13px;
  color: #000000;
  margin-bottom: 20px;
  text-align: left;
  font-family: "inter-variable", sans-serif;
}

.tecnicas-ancest-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.tecnicas-ancest-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tecnicas-ancest-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tecnicas-ancest-card-info {
  padding: 15px;
  background-color: #fef6ea;
}

.tecnicas-ancest-card-title {
  font-size: 18px;
  color: #383f27;
  margin-bottom: 10px;
  font-family: "playfair-display", serif;
}

.tecnicas-ancest-card-text {
  font-size: 13px;
  color: #000000;
  margin: 0;
  font-family: "inter-variable", sans-serif;
}

.tecnicas-ancest-button {
  display: block;
  margin: 0 auto;
  background-color: #1D9965;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.footer-line {
  content: "";
  width: 475px; 
  height: 1.5px; 
  background-color: #dac8b9; 
  margin: 20px auto;
  margin-top: 6px;
}

.footer-text {
  text-align: center; 
  margin-top: 35px; 
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #b19985; 
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
 header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  header > img {
    width: 120px;
    position: absolute;
    left: 20px;
    z-index: 100;

  }

  .menu-icon-container {
    display: flex;
    margin-left: 1800px;
    margin-top: 39.5px; 
    border: none;
    box-shadow: none;
    height: 48px;
    background-color: none;
  }


  .navbar {
    width: 100%;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: 58px;
    position: relative;
    padding-right: 60px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 1050px;
    gap: 25px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: #383f27;
    font-size: 1rem;
    padding: 15px 0;
    white-space: nowrap;
  }

  .cultura-gastronomica {
    max-width: 1200px; 
    padding: 40px;
  }

  .cultura-header h1, 
  .ingredientes-section h2, 
  .tecnicas-section h2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-size: 32px;
    position: static; 
  }

  .cultura-header h1::before, .cultura-header h1::after,
  .ingredientes-section h2::after,
  .tecnicas-section h2::after {
    content: "";
    position: static; 
    flex-grow: 1;   
    height: 1px;
    background-color: #dac8b9;
    width: auto;    
  }

  .cultura-header p{
    font-size: 18px;
    margin: 20px auto 40px;
  }
  

  .cultura-header img {
   display: none;
  }

  .ingredientes-section p{
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 40px; 
    color: #000000;
    margin-left: -25%;
    }

   .tecnicas-section p {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 40px; 
    color: #000000;
    margin-left: -30%;
   }

  .ingredientes-grid, 
  .tecnicas-grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
  }

  .ingrediente-card, .tecnica-card {
    background-color: #fcece4; 
    padding-bottom: 15px;
    border-radius: 4px;
  }

  .ingrediente-card p {
    margin-left: auto;
  }
  
  .ingrediente-card img, .tecnica-card img {
    height: 150px; 
    border-radius: 4px 4px 0 0;
  }

  .ingredientes-section button, 
  .tecnicas-section button {
    background-color: #1D9965;
    padding: 12px 30px;
    border-radius: 8px; 
    text-transform: none;
    font-size: 14px;
  }
  
  .regiones-tecnicas-container {
    max-width: 1200px;
    padding: 40px 20px;
  }

  .regiones-cult-title, 
  .tecnicas-ancest-title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    font-size: 28px;
    position: static; 
  }

  .regiones-cult-title::after, 
  .tecnicas-ancest-title::after {
    content: "";
    position: static; 
    flex-grow: 1;   
    height: 1px;
    background-color: #dac8b9;
    width: auto;    
  }

  .regiones-cult-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .regiones-cult-card-img {
    height: 110px;
  }

  .tecnicas-ancest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .tecnicas-ancest-card-img {
    height: 200px;
  }

  .regiones-cult-card-info, 
  .tecnicas-ancest-card-info {
    background-color: #f2d9dc; 
    padding: 15px;
  }

  .regiones-cult-card, 
  .tecnicas-ancest-card {
    box-shadow: none; 
    border: none;
  }

  .regiones-cult-grid .regiones-cult-card:last-child,
  .tecnicas-ancest-grid .tecnicas-ancest-card:last-child {
    display: block; 
  }

  .regiones-cult-description, 
  .tecnicas-ancest-description {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .tecnicas-ancest-button {
    background-color: #1D9965; 
    border-radius: 6px;
    padding: 12px 50px;
    font-size: 16px;
    margin-top: 40px;
    width: fit-content;
  }
  
   .footer-line {
   content: "";
   width: 1900px; 
   height: 1.5px; 
   background-color: #dac8b9; 
   margin: 20px auto;
   margin-top: 80px;
}

 .footer-text {
   text-align: center; 
   margin-top: 35px; 
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #b19985; 
   width: 100%;
   max-width: 100%;
}
}