body {
    margin: 0%;
    background-color: #FAEFEC;
}

header{
    text-align: center;
}

.menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #FEF7F1;
  border: 1px solid #ad8a6e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.menu-icon {
  width: 90px; 
  height: auto;
  margin-bottom: 29%; 
}

header img{
    width: 24%;
    display: block; 
    margin: 0 auto;
    margin-top: 20px;
}

.navbar {
    display: flex;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    width: 100%;
    margin-top: 21px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: #383f27; 
    font-size: 0.65rem;
    font-family: "dm-sans", sans-serif;
    padding: 12px 6px;
    white-space: nowrap;
}

.paises-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.paises-container h1 {
  color: #383f27;
  font-size: 27px;
  margin-bottom: 15px;
  font-family: "playfair-display", serif;
}

.paises-container p {
  color: #000;
  font-size: 12px;
  margin-bottom: 20px;
  font-family: "inter-variable", sans-serif;
}

.search-and-filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  outline: none;
}

.search-bar button {
  padding: 12px 20px;
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 14px;
}

.filters-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filters-section select {
  flex: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  width: 120%;
}

.map-container {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.map-container p {
  text-align: center;
  font-size: 12px;
  color: #666;
  font-family: "inter-variable", sans-serif;
  margin: 0 0 30px;
}

.sabores-pais {
  padding: 10px; 
  text-align: center;
  background-color: #eedcd6;
  border-radius: 8px;
  margin: 0 auto 20px;  
  width: 600px;
  width: 90%;
  margin-bottom: 20px;
}

.sabores-pais h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "playfair-display", serif;
}

.sabores-grid {
  display: flex;
  justify-content: center;
  gap: 5px; 
  margin-bottom: 10px;
}

.sabor-item {
  width: 100px; 
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90px; 
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sabor-label {
  padding: 4px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  flex-shrink: 0;
}
.sabor-item:nth-child(1) {
  background-color: #8c3d3f; 
}

.sabor-item:nth-child(2) {
  background-color: #d9962c; 
}

.sabor-item:nth-child(3) {
  background-color: #c37b1a; 
}

.sabor-item:nth-child(4) {
  background-color: #b2663b; 
}

.sabor-item:nth-child(5) {
  background-color: #68712c; 
}

.sabor-item img {
  width: 35px;
  height: 35px;
  margin: 2px auto;
  display: block;
  flex-shrink: 0;
}

.sabor-item h3 {
  font-size: 16px;
  color: white; 
  margin-bottom: 5px;
  font-weight: bold;
}

.sabor-item p {
  margin: 0;
  font-size: 9px;
  color: #333;
  background-color: white;
  padding: 0.5px;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "inter-variable", sans-serif;
}

.cultura-mesa {
  padding: 15px;
  text-align: center;
}

.cultura-mesa h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 0 99px;
  font-family: "playfair-display", serif;
}

.cultura-mesa h2::before,
.cultura-mesa h2::after {
  content: "";
  position: absolute;
  top: 50%; 
  width: 22%; 
  height: 1.3px; 
  background-color: #dac8b9;
}

.cultura-mesa h2::before {
  left: 0; 
}

.cultura-mesa h2::after {
  right: 0; 
}

.cultura-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cultura-item {
  background-color: #fef6ea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cultura-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cultura-item h3 {
  font-size: 17px;
  color: #383f27;
  margin: 15px 0 10px;
  padding: 0 15px;
  font-family: "playfair-display", serif;
}

.cultura-item p {
  font-size: 13px;
  color: #000000;
  padding: 0 15px;
  margin-bottom: 15px;
  font-family: "inter-variable", sans-serif;
}

.cultura-item button {
  display: block;
  width: 80%;
  margin: 0 auto 15px;
  padding: 10px;
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.solo-escritorio {
  display: none;

}

.sabores-container {
  padding: 20px;
  text-align: center;
}

.sabores-container h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 0 99px;
  font-family: "playfair-display", serif;
}


.sabores-container h2::before,
.sabores-container h2::after {
  content: "";
  position: absolute;
  top: 50%; 
  width: 24%; 
  height: 1.1px; 
  background-color: #dac8b9;
}

.sabores-container h2::before {
  left: 0;
}

.sabores-container h2::after {
  right: 0;
}

.sabores-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.sabor-card {
  background-color: #fef6ea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 338px;
}

.sabor-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.sabor-card h3 {
  font-size: 16px;
  color: #383f27;
  margin: 10px 0;
  font-family: "playfair-display", serif;
}

.sabor-card p {
  font-size: 13px;
  color: #000000;
  margin-bottom: 15px;
  font-family: "inter-variable", sans-serif;
}

.sabor-card button {
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.territorios-container {
  padding: 20px;
  text-align: center;
}

.territorios-container h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 0 99px;
  font-family: "playfair-display", serif;

}

.territorios-container h2::before,
.territorios-container h2::after {
  content: "";
  position: absolute;
  top: 50%; 
  width: 31%; 
  height: 1.3px; 
  background-color: #dac8b9;
}

.territorios-container h2::before {
  left: 0;
}

.territorios-container h2::after {
  right: 0;
}

.territorios-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.territorio-card {
  background-color: #fef6ea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.territorio-card img {
  width: 100%;
  height: 85px;
  object-fit: cover;
}

.territorio-card h3 {
  font-size: 21px;
  color: #383f27;
  margin: 10px 0;
  font-family: "playfair-display", serif;
}

.territorio-card p {
  font-size: 13px;
  color: #000000;
  padding: 0 15px;
  margin-bottom: 15px;
  font-family: "inter-variable", sans-serif;
}

.territorio-card button {
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.perfil-gastronomico {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.perfil-gastronomico h2 {
  color: #383f27;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  padding: 0 99px;
}

.perfil-gastronomico h2::before,
.perfil-gastronomico h2::after {
  content: "";
  position: absolute;
  top: 50%; 
  width: 23%; 
  height: 1.1px; 
  background-color: #dac8b9;
}

.perfil-gastronomico h2::before {
  left: 0;
}

.perfil-gastronomico h2::after {
  right: 0;
}

.perfil-gastronomico p {
  font-size: 12px;
  color: #000000;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "inter-variable", sans-serif;
}

.perfil-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.perfil-card {
  background-color: #fef6ea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 338px;
}

.perfil-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.perfil-card h3 {
  font-size: 17px;
  color: #383f27;
  margin: 10px 0;
  font-family: "playfair-display", serif;
}

.perfil-card p {
  font-size: 13px;
  color: #000000;
  margin-bottom: 15px;
  font-family: "inter-variable", sans-serif;
}

.perfil-card button {
  background-color: #326e54;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.footer-line {
  content: "";
  width: 475px; 
  height: 1.5px; 
  background-color: #dac8b9; 
  margin: 20px auto;
  margin-top: 50px;
  max-width: 200%;
}

.footer-text {
  text-align: center; 
  margin-top: 35px; 
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #b19985; 
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
 header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  header > img {
    width: 120px;
    position: absolute;
    left: 20px;
    z-index: 100;

  }

  .menu-icon-container {
    display: flex;
    margin-left: 1800px;
    margin-top: 39.5px; 
    border: none;
    box-shadow: none;
    height: 48px;
    background-color: none;
  }


  .navbar {
    width: 100%;
    background-color: #FEF7F1;
    border-top: 2px solid #ad8a6e;
    border-bottom: 2px solid #ad8a6e;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-top: 58px;
    position: relative;
    padding-right: 60px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 1050px;
    gap: 25px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: #383f27;
    font-size: 1rem;
    padding: 15px 0;
    white-space: nowrap;
  }

  .paises-container h1 {
    font-size: 42px; 
    margin-bottom: 10px;
    text-align: left; 
  }

  .paises-container p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
  }
  .search-bar {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
  }

  .search-bar input {
    flex: 1; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }

  .search-bar button {
    padding: 12px 30px;
    background-color: #3a7353; 
    border-radius: 0 4px 4px 0;
  }

  .search-and-filters {
    flex-direction: column; 
    gap: 10px;
  }

  .filters-section {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
    width: 100%;
  }

  .filters-section select {
    flex: 1; 
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #ccc;
    width: auto; 
  }

  .map-container p {
  text-align: center;
  font-size: 17px;
  color: #666;
  font-family: "inter-variable", sans-serif;
  margin: 0 0 30px;
  }

  .sabores-pais {
    width: 100%; 
    max-width: 1000px; 
    padding: 40px 20px;
    background-color: #eedcd6;
    margin: 50px auto;
  }

  .sabores-pais h2 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
  }
  .sabores-pais h2::before,
  .sabores-pais h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #af9d8e;
  }
  .sabores-pais h2::before { left: -120px; }
  .sabores-pais h2::after { right: -120px; }

  .sabores-grid {
    gap: 20px;
  }

  .sabor-item {
    width: 160px;
    height: 165px; 
    min-height: 140px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  .sabor-item img {
    width: 60px; 
    height: 60px;
    margin: 15px auto;
  }

  .sabor-item h3 {
    font-size: 18px;
    padding: 8px 0;
    margin: 0;
  }

  .sabor-item p {
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    color: #000000;
  }
 
  .solo-escritorio {
    display: flex;
  }

  .cultura-grid, 
  .sabores-cards, 
  .territorios-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .cultura-mesa h2, 
  .sabores-container h2, 
  .territorios-container h2 {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 32px;
    color: #383f27;
    margin-bottom: 40px;
    padding: 0; 
  }

  .cultura-mesa h2::before, .cultura-mesa h2::after,
  .sabores-container h2::before, .sabores-container h2::after,
  .territorios-container h2::before, .territorios-container h2::after {
    content: "";
    flex-grow: 1; 
    height: 1.5px;
    background-color: #dac8b9;
    position: static; 
  }

  .cultura-mesa h2::before, .sabores-container h2::before, .territorios-container h2::before {
    margin-right: 20px;
  }

  .cultura-mesa h2::after, .sabores-container h2::after, .territorios-container h2::after {
    margin-left: 20px;
  }

  .cultura-item, .sabor-card, .territorio-card {
    background-color: #fef6ea;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .cultura-item img, .sabor-card img {
    height: 180px;
    object-fit: cover;
  }

  .territorio-card img {
    height: 130px;
  }

  .cultura-item h3, .sabor-card h3, .territorio-card h3 {
    padding: 15px 15px 5px;
    font-size: 25px;
    text-align: center;
  }

  .cultura-item p, .sabor-card p, .territorio-card p {
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1; 
  }

 
  .cultura-item button, .sabor-card button, .territorio-card button {
    width: fit-content;
    padding: 10px 25px;
    background-color: #326e54; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 20px; 
    font-size: 14px;
  }
  
  .solo-escritorio {
    display: flex;
  }

  .perfil-gastronomico {
    max-width: 1100px;
    margin: 50px auto;
  }

  .perfil-gastronomico h2 {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 32px;
    padding: 0;
    margin-bottom: 25px;
  }

  .perfil-gastronomico h2::before,
  .perfil-gastronomico h2::after {
    content: "";
    flex-grow: 1;
    height: 1.5px;
    background-color: #dac8b9;
    position: static;
  }

  .perfil-gastronomico h2::before { margin-right: 20px; }
  .perfil-gastronomico h2::after { margin-left: 20px; }

  .perfil-gastronomico p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 850px;
  }

  .perfil-cards {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 25px;
  }

  .perfil-card {
    height: auto; 
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  }

  .perfil-card img {
    height: 180px;
  }

  .perfil-card h3 {
    font-size: 22px;
    margin: 20px 0 10px;
    padding: 0 15px;
  }

  .perfil-card p {
    font-size: 14px;
    padding: 0 20px;
    flex-grow: 1; 
    margin-bottom: 25px;
    text-align: center;
  }

  .perfil-card button {
    width: 90%; 
    margin: 0 auto;
    background-color: #326e54;
    padding: 12px;
    font-size: 15px;
    border-radius: 4px;
  }

  .footer-line {
   content: "";
   width: 1900px; 
   height: 1.5px; 
   background-color: #dac8b9; 
   margin: 20px auto;
   margin-top: 80px;
}

 .footer-text {
   text-align: center; 
   margin-top: 35px; 
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #b19985; 
   width: 100%;
   max-width: 100%;
}

}